/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#header_img {
  max-height: 250px;
  width: auto;
  margin-right: 20px;
}

nav {
  background-color: #444;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
  display: block;
}

nav a:hover {
  background-color: #555;
}

main {
  padding: 20px;
  background-color: white;
  max-width: 960px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

nav li {
  display: inline-block;
}

.dropdown {
  padding: 9px 0;
}

.dropdown-menu {
  box-shadow: rgb(143, 142, 143) 10px 5px 25px;
  background-color: white;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
  margin-left: 0.5em;
  text-align: left;
}

#main_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img {
  height: 45vh;
  width: auto;
  margin: 15px 35px;
  border-radius: 10px;
}

#summary_img {
  height: 60vh;
  width: auto;
  margin: 15px 35px 55px 35px;
  border-radius: 10px;
}

#summary_text {
  margin-top: 20px;
  line-height: 90%;
  font-size: 0.9em;
}

.summary-box-link {
  padding: 15px;
  padding-bottom: 5px;
  margin: 10px;
  background-color: #f1ececb1;
  box-shadow: rgb(223, 222, 223) 10px 5px 25px;
}

.summary-box-link > a {
  text-decoration: none;
}

.centered_img {
  display: flex;
  justify-content: center;
}

.main_text {
  margin: 20px;
}

.centered_text {
  text-align: center;
}

.contact_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

@media screen and (orientation: portrait) and (max-width: 768px) {
  img {
    max-width: 97vw;
    height: auto;
  }

  #header_img {
    max-height: 150px;
    width: auto;
  }

  nav li {
    margin: 0 7px;
  }

  nav ul {
    gap: 5px;
  }

  #main_header {
    flex-direction: column-reverse;
    align-items: center;
  }
}
